{% extends 'base.html' %}
{% load static %}

{% block content %} 
   <div class="container-fluid" style="padding-top: 10px;display: flex;flex-direction: row;flex-wrap: wrap;">
        <div class="col-sm-4 rounded" style="margin: 5px 10px;width: 320px;box-shadow: 0px 0px 2px grey;">
            <div class="card" style="margin: 3px;">
                <div class=" card-body h5 " style="color: darkmagenta;">Dashboard</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >Market Place</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >Community</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >Job Adverts</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >Chats</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >My products</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >My job Adverts</div>
            </div>
            <div class="card" style="margin: 3px;">
                <div class="card-body" >Settings</div>
            </div>
            <div class="card" style="margin: 3px;">
                <a class="list-group-item h5" href="{%url 'logout'%}">
                <div class="card-body" >
                    <span class="h5"> Logout </span>
                    <div class="spinner-border spinner-border-sm text-danger"></div>
                </div>
                </a>
            </div>
        </div>
        <div class="col-sm 8 rounded" style="margin: 5px 10px;">
            <div class="row rounded" style="padding: 3px 2px;box-shadow: 0px 0px 2px grey;display: flex;flex-direction: row;flex-wrap: wrap;">
                <div class="card col-sm-4 text-light" style="margin: 2px 2px;max-width: 320px;height: 250px;background-color: darkmagenta;">
                    <div class="badge" ><h3> My Total Products </h3></div>
                </div>
                <div class="card col-sm-4 text-light" style="margin: 2px 2px;max-width: 320px;height: 250px; background-color: navy;">
                    <div class="badge" ><h3> Total chats </h3></div>
                </div>
                <div class="card col-sm-4 bg-dark text-light" style="margin: 2px 2px;max-width: 320px;height: 250px;">
                    <div class="badge" ><h3> Total Messages </h3></div>
                    <span class=" badge d-flex bg-primary"  style="width: 150px;margin: 5px 1px;">All </span>
                    <span class=" badge d-flex bg-info" style="width: 150px;margin: 5px 1px;">Received</span>
                    <span class=" badge d-flex bg-warning"   style="width: 150px;margin: 5px 1px;">Sent</span>
                    <span class=" badge d-flex bg-warning"  style="width: 150px;margin: 5px 1px;">Unread</span>
                    <span class=" badge d-flex bg-danger"  style="width: 150px;margin: 5px 1px;">Clear</span>
                </div>
                
            </div>
            <div class="row rounded" style="margin-top: 5px;padding: 3px 2px;box-shadow: 0px 0px 2px grey;display: flex;flex-direction: row;flex-wrap: wrap;">
                <div class="col-sm-2 card rounded" style="padding:0px; height: 280px; max-width: 320px; margin: 5px;">
                    <div class="card-body " style="padding: 5px;">
                        <span class=" badge bg-success d-flex" style=" width: 150px;margin: 5px 1px;">Update profile</span>
                        <span class=" badge d-flex " style=" background-color: navy; width: 150px;margin: 5px 1px;">Change username</span>
                        <span class=" badge d-flex " style=" background-color: navy; width: 150px;margin: 5px 1px;">Change password</span>
                        <span class=" badge d-flex " style=" background-color: navy; width: 150px;margin: 5px 1px;">Change Email</span>
                        <span class=" badge d-flex " style=" background-color: navy; width: 150px;margin: 5px 1px;">Add PhoneNumber</span>
                        <span class=" badge bg-warning d-flex " style=" width: 150px;margin: 5px 1px;">Deactivate account</span>
                        <a type="submit" class="btn badge d-flex bg-danger" style="  width: 150px;margin: 5px 1px;" data-bs-toggle="modal" data-bs-target="#myModal">Delete Account</a>
                    </div>
                </div>
                <div class="col-sm-2 card rounded" style="height: 280px; max-width: 320px; margin: 5px;">
                    <div class="card-body"></div>
                </div>
                <div class="col-sm-7 card rounded" style="margin: 5px;">
                    <div class="card-body">
                        {{user.username}} <br>
                        {{user.first_name}} <br>
                        {{user.last_name}} <br>
                        {{user.email}}
                        <div class="progress">
                            <div class="progress-bar" style="width:70%"></div>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
   </div>
   
   

   <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">You are about to delete your account</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <h3 class=" btn bg-danger text-light">
            <div class="spinner-grow spinner-grow-sm"></div>
            warning!</h3>
        
          <p> This process is irreversible and your account will deleted permanently. 
            Consider taking a second thought before undertaking the action.</p>
            <p>if you are sure you want to confirm the action, press the red button below.</p>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-warning" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-sm bg-danger text-light" href="{% url 'deleteAccount' %}">Delete</a>
        </div>
  
      </div>
    </div>
  </div>


{% endblock %}