<nav class="navbar navbar-expand-sm  navbar-dark " style="background-color: rgb(53, 32, 32);">
    <div class="container-fluid mt-3" style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;">
        <h5 style="
        background: linear-gradient(90deg,magenta,cyan,gold);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        place-items: center; margin: 0%; padding: 0%;">Copyright &copy; L-jay Technologies Co.,Ltd All rights are reserved.</h5>
        <h6 style="
        background: linear-gradient(90deg,gold,cyan,magenta);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        place-items: center; margin: 0%; padding: 0%;">2023&reg;&trade; &lt;/&gt;Developed By: James Lesoite</h6>
        <small style="color: chartreuse;"><h6>Contact us.&nbsp; Privacy.&nbsp; Terms of use </h6></small>
    </div>
  </nav>