{% comment %} <div class="d-flex" style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;">
    {% comment %} <a class="nav-link " data-bs-target="#demo" href="#" role="button" data-bs-toggle="offcanvas" style="color: navy; margin: 0% 20px; padding: 0%; font-size: 30px;">&#9776;</a> 
    <a class="nav-link " data-bs-target="#demo-end" href="#" role="button" data-bs-toggle="offcanvas" style="color: navy; margin: 0% 20px; padding: 0%; font-size: 30px;">&#9776;</a>
    <a class="navbar-brand" style="margin:0%;padding:0%"  href="#" data-bs-target="#demo-end" href="#" role="button" data-bs-toggle="offcanvas" >
        <img src="../static/icon/james.jpg" alt="Avatar Logo" style="width:50px;border:3px solid white;" class="rounded-pill"> 
    </a>
</div> {% endcomment %}



<div class="offcanvas offcanvas-start" id="demo-end">
    <div class="offcanvas-header">
      <h4 class="offcanvas-title" style="color: darkmagenta;">Dashboard</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group">
                <a class="list-group-item" href="{%url 'home'%}">🏘 Home</a>
            </li>
            <li class="list-group">
                <a class="list-group-item" href="{%url 'categories' %}">🏆Categories</a>
            </li>
            <li class="list-group">
                <a class="list-group-item" href="{%url 'user_messages' %}">✉ Messages</a>
            </li>
            {% if user.is_authenticated %}
            <li class="list-group">
                <a class="list-group-item" href="{% url 'sell' %}">💵 sell product</a>
            </li>
            <li class="list-group">
                <a class="list-group-item" href="{%url 'postjob'  %}">Advertise Job</a>
            </li>
            {% endif %}


            <li class="list-group">
                <a class="list-group-item" href="{%url 'jobs'  %}">Job Adverts</a>
            </li>

            <li class="list-group">
                <a class="list-group-item" href="">Counties</a>
            </li>

            <li class="list-group">
                <a class="list-group-item" href="{%url 'customers' %}">Community</a>
            </li>

            <li class="list-group">
                <a class="list-group-item" href="{% url 'dashboard' %}">💎Account</a>
            </li>
            <li class="list-group">
                <a class="list-group-item" href="">⚙ settings</a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="list-group">
                    <a class="list-group-item" href="{%url 'logout'%}">Logout</a>
                </li>
            {% endif %}
            {% if user.is_authenticated %}
                <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <div class="container-fluid">
                        <span class="rounded-pill" style="width:40px; height: 40px; background-color: aliceblue; border: 1px solid cyan;"></span>
                        
                        <h5 style="color: gold;">{{request.user.username|title}}</h5>
                    </div>
                </nav>
            {% endif %}

            {% if user.is_authenticated %}
            {% else %}
            <li class="list-group">
                <a class="list-group-item" href="{%url 'login'%}">Login</a>
            </li>
            <li class="list-group">
                <a class="list-group-item" href="{%url 'register'%}">Register</a>
            </li>
            {% endif %}
              
            {% if request.user.is_superuser %}
                <li class="list-group">
                    <a class="list-group-item" href="">Super Dashboard</a>
                </li>
                <li class="list-group">
                    <a target="_blank" class="list-group-item" href="/admin/">Admin Dashboard</a>
                </li>
                <li class="list-group">
                    <a target="_blank" class="list-group-item" href="">Super Search</a>
                </li>
            {% endif %}
            
        </ul>
    </div>
    
  </div>