{% extends 'base.html' %}
{% load static %}

{% block content %} 
    
    <div class="container" style="padding: 20px;">
        {% for user in users %}
            {% if user == request.user %}
            {% else %}
            <div class="input-group mb-3" style="max-width: 400px;">
                <a href="{% url 'user_product' user.id %}" 
                class="btn alert-success form-control" 
                style="display: flex;flex-direction: row;justify-content: start;">{{user.username|title}}</a>
                <a href="{% url 'send_message' user.id %}" class="btn text-light" style=" background-color: darkmagenta;">Send Message 📩</a>
            </div>
            {% endif %}
        {% endfor %}
        
    </div>
{% endblock %}