{% load static %}
<nav class="navbar navbar-expand-sm  navbar-dark " style="background-color: rgb(0, 0, 102);">
    <div class="container-fluid mt-3" style="
    display: flex;
    justify-content: center;
    place-items: center;">
        <h3 style="
        background: linear-gradient(90deg,gold,cyan,magenta);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: flex;
        justify-content: center;
        place-items: center;font-size:16px;">A Product Of Lj-Technologies</h3>
    </div>
  </nav>

    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:darkgreen;">
        <div class="container-fluid">
   
            <a class="navbar-brand" style="font-size:16px;" id="top" href="#">📱Kabianga🛒Second Hand Items</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'home'%}">🏘Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'categories' %}">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'user_messages' %}">Messages</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'jobs'  %}">Jobs</a>
                    </li>
                    
                    {% if request.user.is_authenticated %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'register'%}">Register</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'login'%}">Login</a>
                        </li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'sell' %}" >Sell</a>                      
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class=" btn btn-outline-warning" href="{%url 'search'  %}">Search</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>
    
    <nav class="navbar navbar-expand-sm" style="background-color:rgb(230, 230, 230);padding: 2px 0%; display:flex;flex-direction:row;flex-wrap:nowrap;">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin:0%;padding:0%"  href="#" data-bs-target="#demo-end" href="#" role="button" data-bs-toggle="offcanvas" >
                <img src="{% static '/icon/james.jpg' %}" alt="Avatar Logo" style="width:50px;border:3px solid white;" class="rounded-pill"> 
            </a>
            <div>
                <form  class="d-flex input-group" style="max-width:400px">
                    {% csrf_token %}
                        <input type="text" class="form-control" placeholder="Search..." name="search" required>
                        <input  type="button" class="btn" style="background-color:navy;color:white;" value="Go">
                        <!-- <button class="btn" type="submit" style="background-color:navy;color:white;">Go</button> -->
                </form>
                {% if query %}
                    <div id="search-results" class="card" style="position: absolute;z-index: 2;background-color: whitesmoke;width:250px">
                        {% for result in results %}
                        <li class="list-group-item">{{result.ProductName}}</li>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>